<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bearer.mapper.ArticleCollectionMapper">

    <insert id="insertCollection">
        insert into `cul_article_collection`
            (`id`, `user_id`, `article_id`)
        VALUES (#{id}, #{userId}, #{articleId});
    </insert>

    <delete id="deleteCollection">
        delete
        from `cul_article_collection`
        where `user_id` = #{userId}
          and `article_id` = #{id};
    </delete>

    <select id="selectList" resultType="org.bearer.entity.vo.ArticleVO">
        select `art`.`id`, `art`.`title`, `art`.`picture_url`, `user`.`username`, `cui`.`category`, `mat`.`material`
        from `cul_article` AS `art`
                 INNER JOIN `cul_article_collection` AS `ac`
                            ON `ac`.`article_id` = `art`.`id`
                 INNER JOIN `cul_cuisine` AS `cui`
                            ON `cui`.`id` = `art`.`cuisine_id`
                 INNER JOIN `cul_material` AS `mat`
                            ON `mat`.`id` = `art`.`material_id`
                 INNER JOIN `cul_user` AS `user`
                            ON `user`.`id` = `ac`.`user_id`
        WHERE `ac`.`user_id` = #{userId} LIMIT #{start}, #{end};
    </select>

    <select id="selectCountById" resultType="java.lang.Integer">
        select count(*)
        from `cul_article_collection`
        where `user_id` = #{userId};
    </select>

    <select id="selectIdByUserId" resultType="java.lang.String">
        select `id`
        from `cul_article_collection`
        where `user_id` = #{userId}
          AND `article_id` = #{id};
    </select>
</mapper>
