<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bearer.mapper.DishNameMapper">

    <insert id="insertDishName">
        insert into `cul_dish_name`
            (`id`, `name`, `article_id`, `video_id`)
        values
            (#{id}, #{name}, #{articleId}, #{videoId});
    </insert>

    <select id="selectDishNameByMaterialId" resultType="org.bearer.entity.vo.DishNameVO">
        select `dn`.`id`, `dn`.`name`, `dn`.`article_id`, `dn`.`video_id`
        from `cul_dish_name` AS `dn`
                 INNER JOIN `cul_material_name` AS `mn`
                            ON `dn`.`id` = `mn`.`name_id`
                 INNER JOIN `cul_material` AS `mat`
                            ON `mat`.`id` = `mn`.`material_id`
        where `mat`.`id` = #{id};
    </select>

</mapper>
