<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bearer.mapper.MaterialNameMapper">

    <insert id="insertMaterialName">
        insert into `cul_material_name`
            (`material_id`, `name_id`)
        values
            (#{materialId}, #{id});
    </insert>
</mapper>
