<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bearer.mapper.TestMapper">

    <select id="get" resultType="java.lang.String">
        select `id`
        from `cul_dish_name`;
    </select>
</mapper>
