<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bearer.mapper.UserMapper">

    <resultMap id="userMap" type="org.bearer.entity.po.User">
        <result property="id" column="id"/>
        <result property="salt" column="salt"/>
        <result property="password" column="password"/>
        <result property="username" column="username"/>
        <result property="locked" column="is_locked"/>
        <result property="account" column="account"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <resultMap id="userVO" type="org.bearer.entity.vo.UserVO">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="locked" column="is_locked"/>
        <result property="username" column="username"/>

        <collection property="roles" ofType="string" resultMap="roles"/>
    </resultMap>

    <resultMap id="roles" type="org.bearer.entity.vo.Role">
        <result property="role" column="role"/>
    </resultMap>

    <insert id="insertWeChat">
        insert into `cul_user`
            (`id`, `username`, `account`, `is_locked`)
        values (#{id}, #{username}, #{account}, #{locked});
    </insert>

    <insert id="insertOne">
        insert into `cul_user`
            (`id`, `username`, `account`, `password`, `salt`, `is_locked`)
        values
            (#{id}, #{username}, #{account}, #{password}, #{salt}, #{locked});
    </insert>

    <update id="updateIsLockedById">
        update `cul_user`
        set `is_locked` = 1
        where `id` = #{id};
    </update>

    <update id="updatePasswordById">
        update `cul_user`
        set `password`=#{password}
        where `id` = #{id};
    </update>

    <update id="updateNotLockedById">
        update `cul_user`
        set `is_locked` = 0
        where `id` = #{id};
    </update>

    <select id="selectOne" resultMap="userMap">
        select *
        from `cul_user`
        where `id` = #{id};
    </select>

    <select id="selectUserList" resultMap="userVO">
        select `user`.`id`, `user`.`account`, `user`.`is_locked`, `user`.`username`,`role`.`role`
        from `cul_user` AS `user`
                 INNER JOIN `cul_user_role` AS `ur`
                            ON `ur`.`user_id` = `user`.`id`
                 INNER JOIN `cul_role` AS `role`
                            ON `ur`.`role_id` = `role`.`id`
        where `role`.`role` = 'user';
    </select>

    <select id="selectUserByAccount" resultMap="userVO">
        select `user`.`id`, `user`.`account`, `user`.`is_locked`, `user`.`username`,`role`.`role`
        from `cul_user` AS `user`
            INNER JOIN `cul_user_role` AS `ur`
                ON `ur`.`user_id` = `user`.`id`
            INNER JOIN `cul_role` AS `role`
                ON `ur`.`role_id` = `role`.`id`
        where `user`.`account` like "%"#{account}"%"
          AND `role`.`role` = 'user';
    </select>

    <select id="selectAdminByUserRole" resultMap="userVO">
        select `user`.`id`, `user`.`account`, `user`.`is_locked`, `user`.`username`,`role`.`role`
        from `cul_user` AS `user`
            INNER JOIN `cul_user_role` AS `ur`
                ON `ur`.`user_id` = `user`.`id`
            INNER JOIN `cul_role` AS `role`
                ON `ur`.`role_id` = `role`.`id`
        where `role`.`role` = 'admin';
    </select>

    <select id="selectCountAdmin" resultType="java.lang.Integer">
        select count(*)
        from `cul_user` AS `user`
                 INNER JOIN `cul_user_role` AS `ur`
                            ON `ur`.`user_id` = `user`.`id`
                 INNER JOIN `cul_role` AS `role`
                            ON `ur`.`role_id` = `role`.`id`
        where `role`.`role` = 'admin';
    </select>

    <select id="selectCountUser" resultType="java.lang.Integer">
        select count(*)
        from `cul_user` AS `user`
                 INNER JOIN `cul_user_role` AS `ur`
                            ON `ur`.`user_id` = `user`.`id`
                 INNER JOIN `cul_role` AS `role`
                            ON `ur`.`role_id` = `role`.`id`
        where `role`.`role` = 'user';
    </select>

    <select id="selectLockedById" resultType="java.lang.Boolean">
        select `is_locked`
        from `cul_user`
        where `id` = #{id};
    </select>

    <select id="selectIdByAccount" resultType="java.lang.String">
        select `id`
        from `cul_user`
        where `account` = #{account};
    </select>

    <select id="selectById" resultMap="userMap">
        select *
        from `cul_user`
        where `id` = #{id};
    </select>
</mapper>
