<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bearer.mapper.UserRoleMapper">

    <insert id="insertRole">
        insert into `cul_user_role`
            (`user_id`, `role_id`)
        values (#{id}, 'lsjfhf8f8udg8g04fhf6384guff79302');
    </insert>

    <insert id="insertOne">
        insert into `cul_user_role`
            (`user_id`, `role_id`)
        values (#{userId}, #{roleId});
    </insert>

    <update id="updateAdminById">
        update `cul_user_role` AS `ur`
        INNER JOIN `cul_user` AS `user`
            ON `user`.`id` = `ur`.`user_id`
        set `ur`.`role_id` = 'titjhdugig9y854jr9f7gtu59t9fjeht'
        where `user`.`id` = #{id};
    </update>

    <update id="updateUserById">
        update `cul_user_role` AS `ur`
        INNER JOIN `cul_user` AS `user`
            ON `user`.`id` = `ur`.`user_id`
        set `ur`.`role_id` = 'lsjfhf8f8udg8g04fhf6384guff79302'
        where `user`.`id` = #{id};
    </update>
</mapper>
