<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bearer.mapper.VideoMapper">

    <insert id="insertVideo">
        insert into `cul_video`
            (`id`, `title`, `video_url`, `picture_url`, `author_id`, `cuisine_id`, `material_id`)
        values
            (#{id}, #{title}, #{videoUrl}, #{pictureUrl}, #{authorId}, #{cuisineId}, #{materialId});
    </insert>

    <update id="updatePraise">
        update `cul_video`
        set `praise`=`praise` + 1
        where `id` = #{id};
    </update>

    <update id="updateIsExaminedById">
        update `cul_video`
        set `is_examined` = 1
        where `id` = #{id};
    </update>

    <update id="updateRecommend">
        update `cul_video`
        set `recommend` = `recommend` + 1
        where `id` = #{id};
    </update>

    <delete id="deleteById">
        delete
        from `cul_video`
        where `id` = #{id};
    </delete>

    <select id="selectOne" resultType="org.bearer.entity.vo.VideoVO">
        select `video`.`id`
             , `video`.`title`
             , `video`.`video_url`
             , `video`.`recommend`
             , `user`.`username`
             , `video`.`recommend`
             , `video`.`praise`
             , `video`.`create_time`
             , `cui`.`category`
             , `mat`.`material`
        from `cul_video` AS `video`
                 INNER JOIN `cul_user` AS `user`
                            ON `video`.`author_id` = `user`.`id`
                 INNER JOIN `cul_cuisine` AS `cui`
                            ON `cui`.`id` = `video`.`cuisine_id`
                 INNER JOIN `cul_material` AS `mat`
                            ON `mat`.`id` = `video`.`material_id`
        where `video`.`id` = #{id}
          AND `video`.is_examined = 1;
    </select>

    <select id="selectVideoSearchByTitle" resultType="org.bearer.entity.vo.VideoVO">
        select `video`.`id`
             , `video`.`title`
             , `video`.`picture_url`
             , `user`.`username`
             , `cui`.`category`
             , `mat`.`material`
        from `cul_video` AS `video`
                 INNER JOIN `cul_user` AS `user`
                            ON `user`.`id` = `video`.`author_id`
                 INNER JOIN `cul_cuisine` AS `cui`
                            ON `cui`.`id` = `video`.`cuisine_id`
                 INNER JOIN `cul_material` AS `mat`
                            ON `mat`.`id` = `video`.`material_id`
        where `video`.`title` like "%"#{searchContent}"%"
            AND `video`.`is_examined` = 1
            LIMIT #{start}, #{end};
    </select>

    <select id="selectListByIsExamined" resultType="org.bearer.entity.vo.VideoVO">
        select `video`.`id`
             , `video`.`title`
             , `video`.`picture_url`
             , `user`.`username`
             , `cui`.`category`
             , `mat`.`material`
        from `cul_video` AS `video`
                 INNER JOIN `cul_user` AS `user`
                            ON `user`.`id` = `video`.`author_id`
                 INNER JOIN `cul_cuisine` AS `cui`
                            ON `cui`.`id` = `video`.`cuisine_id`
                 INNER JOIN `cul_material` AS `mat`
                            ON `mat`.`id` = `video`.`material_id`
        where `is_examined` = 0
            LIMIT #{start}, #{end};
    </select>

    <select id="selectCountNotExamined" resultType="java.lang.Integer">
        select count(*)
        from `cul_video`
        where `is_examined` = 0;
    </select>

    <select id="selectCountByTitle" resultType="java.lang.Integer">
        select count(*)
        from `cul_video`
        where `is_examined` = 1
          AND `title` like "%"#{searchContent}"%";
    </select>

    <select id="selectByCuisine" resultType="org.bearer.entity.vo.VideoVO">
        select `video`.`id`
             , `video`.`title`
             , `video`.`picture_url`
             , `user`.`username`
             , `cui`.`category`
             , `mat`.`material`
        from `cul_video` AS `video`
                 INNER JOIN `cul_user` AS `user`
                            ON `user`.`id` = `video`.`author_id`
                 INNER JOIN `cul_cuisine` AS `cui`
                            ON `cui`.`id` = `video`.`cuisine_id`
                 INNER JOIN `cul_material` AS `mat`
                            ON `mat`.`id` = `video`.`material_id`
        where `video`.`cuisine_id` = #{id}
          AND `video`.`is_examined` = 1
            LIMIT #{start}, #{end};
    </select>

    <select id="selectCountByCuisine" resultType="java.lang.Integer">
        select count(*)
        from `cul_video`
        where `cuisine_id` = #{id}
          AND `is_examined` = 1;
    </select>
</mapper>
