<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bearer.mapper.VideoMapper">

    <select id="selectList" resultType="org.bearer.entity.vo.Video">
        select `video`.`id`, `video`.`title`, `video`.`picture_url`, `user`.`username`
             , `cui`.`category`, `mat`.`material`
        from `cul_video` AS `video`
            INNER JOIN `cul_user` AS `user`
                ON `video`.`author_id` = `user`.`id`
            INNER JOIN `cul_cuisine` AS `cui`
                ON `cui`.`id` = `video`.`cuisine_id`
            INNER JOIN `cul_material` AS `mat`
                ON `mat`.`id` = `video`.`material_id`
        WHERE `video`.`is_examined` = 0
        ORDER BY `video`.`recommend`
                LIMIT #{start}, #{end};
    </select>

    <select id="selectOne" resultType="org.bearer.entity.vo.Video">
        select `video`.`id`, `video`.`title`, `video`.`video_url`, `video`.`recommend`, `user`.`username`
             , `video`.`recommend`, `cui`.`category`, `mat`.`material`
        from `cul_video` AS `video`
            INNER JOIN `cul_user` AS `user`
                ON `video`.`author_id` = `user`.`id`
            INNER JOIN `cul_cuisine` AS `cui`
                ON `cui`.`id` = `video`.`cuisine_id`
            INNER JOIN `cul_material` AS `mat`
                ON `mat`.`id` = `video`.`material_id`
        where `video`.`id` = #{id}
          AND `video`.is_examined = 0;
    </select>

    <select id="selectVideoSearchByTitle" resultType="org.bearer.entity.vo.Video">
        select `video`.`id`, `video`.`title`, `video`.`picture_url`, `user`.`username`
             , `cui`.`category`, `mat`.`material`
        from `cul_video` AS `video`
            INNER JOIN `cul_user` AS `user`
                ON `user`.`id` = `video`.`author_id`
            INNER JOIN `cul_cuisine` AS `cui`
                ON `cui`.`id` = `video`.`cuisine_id`
            INNER JOIN `cul_material` AS `mat`
                ON `mat`.`id` = `video`.`material_id`
        where `video`.`title` like "%"#{searchContent}"%";
    </select>
</mapper>
